div{
    height: 100px;
    width: 100px;
    position: relative;
    background-color: lightblue;
}
.first{
    background-color: lightblue;
}
.second{
    background-color: lightgreen;
}
.third{
    background-color: red;
}
#output{
    position: absolute;
    top: 100px;
    left: 300px;
}